/* signup */

* a:hover {
  color: blue;
}

* label {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

* .inputbox,
.inputs {
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgb(54, 47, 47);
  padding-inline-start: 6px;
  height: 40px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

* .otherDetails {
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.container {
  width: 1331px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  height: 700px;
  width: 665px;
}

.welcome .welcomeTo {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.welcome .meroBook {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 102px;
  text-transform: uppercase;
}

.welcome .alreadyHave {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
}

.alreadyHave a {
  color: rgb(8, 8, 198);
}

.alreadyHave a:hover {
  color: blue;
}
.register {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0px auto;
}

.buttonContainer .googleButton {
  background-color: white;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgb(54, 47, 47);
  width: 610px;
  height: 65px;
  font-size: 27px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buttonContainer img {
  position: absolute;
  left: 4em;
}

.buttonContainer p {
  position: absolute;
  left: 7.5em;
}

.line {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.line .bigLine {
  margin-top: 30px;
  border: 1px solid;
  width: 580px;
}

.line .or {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  position: absolute;
  margin-top: 11px;
  background-color: white;
}

.flname {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 20px;
}

.flname input {
  width: 301.58px;
}

.inputs {
  width: 610px;
}

.termsandconditions {
  display: flex;
  text-align: center;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.termsandconditions .checkbox {
  width: 20px;
}

.termsandconditions p {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: bolder;
}

.signinContainer .signinButton {
  width: 610px;
  height: 65px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #7f265b;
}

.signinContainer .signinButton a {
  text-decoration: none;
  color: white;
  font-size: 27px;
}
