/* signUp */
.container{
    height: 85vh;
}
.container, .row{
    display: flex;
    width: fit-content;
    padding: 10px;
   
}

.welcome{
    position: absolute;
    top: 30%;
    left: 10%;
}
.welcome a{
    color: #000000;   
}

.welcome h2{
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    text-transform: uppercase;   
}

.welcome h1{
    font-family: 'Nunito', sans-serif;
    font-size: 102px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.welcome h3{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    
}

.welcome a:hover{
    font-family: 'Nunito', sans-serif;
    color: rgb(48, 48, 226);
    font-size: 26px;
    
}
.register{
    position: absolute;
    top: 20%;
    right: 10%;
}

.googleReg a{
    display: flex;  
    padding: 5px;
    border: #000000 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    font-size: 27px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #000000 ;
   
}

.googleReg span{
    position: absolute;
    padding: 5px;
    left: 30%;
}

hr{
    border: #333131 1px solid;
    margin-top: 3em;
      width: 610px;
}

.or{
    display: flex;
    width: min-content;
    background-color: #FFFFFF;
    position: absolute;
    left: 48%;
    bottom: 81.5%;
}

.flName .nameLabel{
    margin-left: -8px;
    width: 305px;
    height: 61px;
    font-family: 'Nunito', sans-serif;
    
}


.fname .lname .nameLabel{
    font-family: 'Nunito', sans-serif;
    width: 305px;
    height: 61px;
    margin-right: 22px;
}

.pLabel .passwordLabel{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
    width: 38.5em;
    height: 3em;
    width: 618.05px;
    height: 61px;
}

.emailLabel .emailLabel{
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    width: 38.5em;
    height: 3em;
    width: 618.05px;
    height: 61px;
}

.terms{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}

.terms a:hover{
    color: blue;
}

.signupP{
    width:  618.05px;
}

.signupP a{
    display: flex;  
    padding: 5px;
    background-color: #7f265b;
    border-radius: 5px;
    text-decoration: none;
}

.signupP span{
    padding: 5px;
    margin: auto;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

button{
    border: none;
  align-items: center;
}